<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grid</title>
        <link rel="stylesheet" href="/css/style.css" class="css" />
    </head>
    <body>
        <div class=" container">
            <h2>We work with the best companies in the world</h2>
            <div class="customers flex flex--row">
                <img class="customers__logo" src="/images/logos/apple.png" alt="" class="customer" />
                <img class="customers__logo" src="/images/logos/amazon.png" alt="" class="customer" />
                <img class="customers__logo" src="/images/logos/microsoft.jpg" alt="" class="customer" />
                <img class="customers__logo" src="/images/logos/nvidia.png" alt="" class="customer" />
                <img class="customers__logo" src="/images/logos/yahoo.png" alt="" class="customer" />
            </div>
        </div>
    </body>
</html>
