<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grid</title>
        <link rel="stylesheet" href="/css/style.css" class="css" />
    </head>
    <body>
        <div class="container">
            <div class="feature card grid grid--2-cols">
                <div>
                    <h2 class="feature__heading">Feature Heading</h2>
                    <p class="feature__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit expedita distinctio architecto soluta ipsa numquam et dicta quae recusandae eos?</p>
                </div>
                <div>
                    <img class="image" src="/images/computer.jpg" alt="A computer displaying a program.">
                </div>
            </div>
        </div>
    </body>
</html>
