<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grid</title>
        <link rel="stylesheet" href="/css/style.css" class="css" />
    </head>
    <body>
        <div class="container">
            <div class="grid grid--2-cols">
                <div>Grid Item 1</div>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, assumenda labore. Delectus quidem fuga eaque ex ullam, cum dolorem reiciendis ab illum illo, culpa atque magnam ipsum nesciunt similique temporibus sunt fugit, laudantium possimus deserunt eum error excepturi ut quas? Distinctio, sed? Eum nisi nesciunt labore molestias cum quos recusandae?</div>
            </div>
        </div>
    </body>
</html>
